{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<h2 class="text-center">My own dictionary</h2>

<!-- This is a *view* - HTML markup that defines the appearance of your UI -->

<table id="words" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>Word</th>
                <th>Attempts</th>
                <th>Hits</th>
                <th>Accuracy</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th>Word</th>
                <th>Attempts</th>
                <th>Hits</th>
                <th>Accuracy</th>
            </tr>
        </tfoot>
    </table>

<br>

<div class="text-center">
        <input type="text" id="word-to-find" name="name">
        <button data-bind="click: searchWord" type="button" class="btn btn-info">Search Word</button>
        <button type="button" class="btn btn-primary" id="btn-add-new-word">Add Word</button>
</div>

<br/>
<br/>

<div class="text-center">
    <button type="button" class="btn" data-bind="click: hideDictionary">Hide dictionary</button>
</div>

<br/>

<iframe id="cambridge-frame" name="cambridge-frame" width="100%" height="600px" frameborder="0" hidden>

</iframe>

<script src="{% static 'js/script.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/word_list.css' %}">

{% endblock %}
